{% extends 'webull_trader/base.html' %}

{% block title %} Reports {% endblock %}

{% load static %}


{% block content %}

<div class="container-fluid p-0">
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <span class="badge {{account_type.value_style|safe}} text-dark">
        {{account_type.value|safe}}
      </span>
    </div>
    <div class="col-auto d-none d-sm-block">
      <h3>Reports / Hourly</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">Hourly P&L</h5>
        </div>
        <div class="card-body d-flex w-100">
          <div class="align-self-center chart chart-md">
            <div id="hourly-profit-loss-chart" style="width: 100%; min-height: 300px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">Hourly Win Rate</h5>
        </div>
        <div class="card-body d-flex w-100">
          <div class="align-self-center chart chart-md">
            <div id="hourly-win-rate-chart" style="width: 100%; min-height: 300px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">Hourly Profit/Loss Ratio</h5>
        </div>
        <div class="card-body d-flex w-100">
          <div class="align-self-center chart chart-md">
            <div id="hourly-pl-ratio-chart" style="width: 100%; min-height: 300px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">Hourly Trades</h5>
        </div>
        <div class="card-body d-flex w-100">
          <div class="align-self-center chart chart-md">
            <div id="hourly-trades-chart" style="width: 100%; min-height: 300px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block js %}
<script>
  // hourly profit loss chart
  const hourly_profit_loss_chart = echarts.init(document.getElementById("hourly-profit-loss-chart"));
  const hourly_profit_loss_option = {
    tooltip: {
      trigger: 'axis'
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: {
      type: 'category',
      data: {{hourly_labels|safe}}
    },
    yAxis: {
      type: 'value',
      splitLine: {
        show: false
      }
    },
    series: [{
      data: {{hourly_profit_loss|safe}},
      type: 'bar',
      areaStyle: {}
    }]
  };
  hourly_profit_loss_chart.setOption(hourly_profit_loss_option);

  // hourly win rate chart
  const hourly_win_rate_chart = echarts.init(document.getElementById("hourly-win-rate-chart"));
  const hourly_win_rate_option = {
    tooltip: {
      trigger: 'axis'
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: {
      type: 'category',
      data: {{hourly_labels|safe}}
    },
    yAxis: {
      type: 'value',
      splitLine: {
        show: false
      }
    },
    series: [
      {
        name: "Win Rate",
        data: {{hourly_win_rate|safe}},
        type: 'bar',
        smooth: true,
      },
    ]
  };
  hourly_win_rate_chart.setOption(hourly_win_rate_option);

  // hourly profit/loss ratio chart
  const hourly_profit_loss_ratio_chart = echarts.init(document.getElementById("hourly-pl-ratio-chart"));
  const hourly_profit_loss_ratio_option = {
    tooltip: {
      trigger: 'axis'
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: {
      type: 'category',
      data: {{hourly_labels|safe}}
    },
    yAxis: {
      type: 'value',
      splitLine: {
        show: false
      }
    },
    series: [
      {
        name: "Profit/Loss Ratio",
        data: {{hourly_profit_loss_ratio|safe}},
        type: 'bar',
        smooth: true,
      },
    ]
  };
  hourly_profit_loss_ratio_chart.setOption(hourly_profit_loss_ratio_option);

  // hourly trades chart
  const hourly_trades_chart = echarts.init(document.getElementById("hourly-trades-chart"));
  const hourly_trades_option = {
    tooltip: {
      trigger: 'axis'
    },
    grid: {
      left: '3%',
      right: '4%',
      bottom: '3%',
      containLabel: true
    },
    xAxis: {
      type: 'category',
      data: {{hourly_labels|safe}}
    },
    yAxis: {
      type: 'value',
      splitLine: {
        show: false
      }
    },
    series: [
      {
        name: "Trades",
        data: {{hourly_trades|safe}},
        type: 'bar',
        smooth: true,
      }
    ]
  };
  hourly_trades_chart.setOption(hourly_trades_option);

  // resize charts
  window.onresize = function() {
    hourly_profit_loss_chart.resize();
    hourly_win_rate_chart.resize();
    hourly_profit_loss_ratio_chart.resize();
    hourly_trades_chart.resize();
  };
</script>
{% endblock %}
