{% extends 'webull_trader/base.html' %}

{% block title %} Swing Trading Trades {% endblock %}

{% load static %}

{% block content %}

<div class="container-fluid p-0">
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <span class="badge {{account_type.value_style|safe}} text-dark">
        {{account_type.value|safe}}
      </span>
    </div>
    <div class="col-auto d-none d-sm-block">
      <h3>Swing Trading Trades</h3>
    </div>
  </div>
  <div class="card flex-fill">
    <table class="table table-striped my-0">
      <thead>
        <tr>
          <th>Symbol</th>
          <th class="d-none d-xl-table-cell">Buy Date</th>
          <th class="d-none d-xl-table-cell">Holding Days</th>
          <th class="d-none d-xl-table-cell">Sell Date</th>
          <th class="d-none d-xl-table-cell">Setup</th>
          <th class="d-none d-xl-table-cell">Buy Price</th>
          <th class="d-none d-xl-table-cell">Total Cost</th>
          <th class="d-none d-xl-table-cell">Quantity</th>
          <th class="d-none d-xl-table-cell">Sell Price</th>
          <th class="d-none d-xl-table-cell">Total Sold</th>
          <th class="d-none d-xl-table-cell">P&L</th>
          <th class="d-none d-xl-table-cell">P&L %</th>
        </tr>
      </thead>
      <tbody>
        {% for trade in swing_trades %}
        <tr>
          <td><a href="/swing-trades/{{trade.symbol|safe}}"><span class="badge badge-soft-dark">{{trade.symbol|safe}}</span></a></td>
          <td class="d-none d-xl-table-cell">{{trade.buy_date|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.holding_days|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.sell_date|safe}}</td>
          <td class="d-none d-md-table-cell">{{trade.setup|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.buy_price|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.total_cost|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.quantity|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.sell_price|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.total_sold|safe}}</td>
          <td class="d-none d-md-table-cell {{trade.profit_loss_style|safe}}">{{trade.profit_loss|safe}}</td>
          <td class="d-none d-md-table-cell {{trade.profit_loss_style|safe}}">{{trade.profit_loss_percent|safe}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
