{% extends 'webull_trader/base.html' %}

{% block title %} Swing Trading Positions {% endblock %}

{% load static %}

{% block content %}

<div class="container-fluid p-0">
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <span class="badge {{account_type.value_style|safe}} text-dark">
        {{account_type.value|safe}}
      </span>
    </div>
    <div class="col-auto d-none d-sm-block">
      <h3>
        <a class="link-dark no-underline" href="{% url 'swing_positions' %}"
          >Swing Trading Positions</a
        >
        / {{symbol|safe}}
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{quote.market_value|safe}}</h3>
              <p class="mb-2">Market Cap</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{quote.free_float|safe}}</h3>
              <p class="mb-2">Free Float</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{quote.pe|safe}}</h3>
              <p class="mb-2">P/E</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{quote.eps|safe}}</h3>
              <p class="mb-2">EPS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{quote.beta|safe}}</h3>
              <p class="mb-2">BETA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{quote.next_earning|safe}}</h3>
              <p class="mb-2">Earning Date</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{quote.sector|safe}}</h3>
              <p class="mb-2">Sector</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{position.unit_cost|safe}}</h3>
              <p class="mb-2">Unit Cost</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{position.quantity|safe}}</h3>
              <p class="mb-2">Quantity</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{position.units|safe}}</h3>
              <p class="mb-2">Unit</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{position.add_unit_price|safe}}</h3>
              <p class="mb-2">Add Unit $</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{position.stop_loss_price|safe}}</h3>
              <p class="mb-2">Stop Loss $</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{position.total_cost|safe}}</h3>
              <p class="mb-2">Total Cost</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{position.total_value|safe}}</h3>
              <p class="mb-2">Total Value</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{position.price|safe}}</h3>
              <p class="mb-2">Price</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 {{quote.change_percent_style}}">{{quote.change_percent|safe}}</h3>
              <p class="mb-2">Change %</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 {{position.profit_loss_style}}">{{position.profit_loss|safe}}</h3>
              <p class="mb-2">P&L</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 {{position.profit_loss_style}}">{{position.profit_loss_percent|safe}}</h3>
              <p class="mb-2">P/L %</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-3 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{position.portfolio_percent|safe}}</h3>
              <p class="mb-2">Portfolio %</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">Daily Chart</h5>
        </div>
        <div class="card-body d-flex w-100">
          <div class="align-self-center chart chart-md">
            <div
              id="d1-candle-chart"
              style="width: 100%; min-height: 600px"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h4 class="h4 mb-3">News</h4>
  <div class="row">
    {% for n in news %}
    <div class="col-12 col-md-4 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="{{n.image}}" alt="{{n.title}}"/>
        <div class="card-header">
          <h5 class="card-title mb-0">{{n.title}}</h5>
          <h6 class="card-subtitle mt-1 text-muted">{{n.publishedDate}}</h6>
        </div>
        <div class="card-body pt-0">
          <p class="card-text">{{n.text}}</p>
          <a target="_blank" href="{{n.url}}" class="card-link">{{n.site}} Link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  // daily candle chart
  const d1_candle_chart = echarts.init(document.getElementById("d1-candle-chart"));
  const d1_candle_option = {
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'cross'
      },
    },
    legend: {
      data: ['Daily Candle', 'SMA 55', 'SMA 120', 'Volume', 'RSI 10']
    },
    axisPointer: {
      link: {xAxisIndex: 'all'},
      label: {
        backgroundColor: '#777'
      }
    },
    grid: [
      {
        left: '3%',
        right: '4%',
        height: '50%'
      },
      {
        left: '3%',
        right: '4%',
        top: '65%',
        height: '15%'
      },
      {
        left: '3%',
        right: '4%',
        top: '80%',
        height: '15%'
      }
    ],
    xAxis: [
      {
        type: 'category',
        data: {{d1_candle_data.times|safe}},
        scale: true,
        boundaryGap: true,
        axisLine: {onZero: false},
        splitLine: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax',
        axisPointer: {
          z: 100
        },
      },
      {
        type: 'category',
        gridIndex: 1,
        data: {{d1_candle_data.times|safe}},
        scale: true,
        boundaryGap: true,
        axisLine: {onZero: false},
        axisTick: {show: false},
        splitLine: {show: false},
        axisLabel: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax'
      },
      {
        type: 'category',
        gridIndex: 2,
        data: {{d1_candle_data.times|safe}},
        scale: true,
        boundaryGap: true,
        axisLine: {onZero: false},
        axisTick: {show: false},
        splitLine: {show: false},
        axisLabel: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax'
      },
    ],
    yAxis: [
      {
        scale: true,
        splitArea: {
          show: false
        },
        splitLine: {
          show: false
        },
      },
      {
        scale: true,
        gridIndex: 1,
        axisLabel: {show: false},
        axisLine: {show: false},
        axisTick: {show: false},
        splitLine: {show: false}
      },
      {
        scale: true,
        gridIndex: 2,
        axisLabel: {show: false},
        axisLine: {show: false},
        axisTick: {show: false},
        splitLine: {show: false}
      },
    ],
    dataZoom: [
      {
        type: 'inside',
        xAxisIndex: [0, 1, 2],
        start: 0,
        end: 100
      },
    ],
    series: [
      {
        name: 'Daily Candle',
        type: 'candlestick',
        data: {{d1_candle_data.candles|safe}},
        itemStyle: {
          color: "#4bbf73",
          color0: "#d9534f",
          borderColor: null,
          borderColor0: null,
        },
        markPoint: {
          label: {
            normal: {
              formatter: function (param) {
                return param.name;
              }
            }
          },
          data: {{ d1_trade_quantity_records|safe }},
          tooltip: {
            formatter: function (param) {
              return param.name + '<br>' + (param.data.coord || '');
            }
          },
          symbolRotate: (_, obj) => {
            return obj['data']['itemStyle']['rotate'];
          },
        },
      },
      {
        name: 'SMA 55',
        type: 'line',
        data: {{d1_candle_data.sma_55|safe}},
        smooth: true,
        showSymbol: false,
        color: '#ff7518',
        lineStyle: {
          width: 1,
        }
      },
      {
        name: 'SMA 120',
        type: 'line',
        data: {{d1_candle_data.sma_120|safe}},
        smooth: true,
        showSymbol: false,
        color: '#d0312d',
        lineStyle: {
          width: 1,
        }
      },
      {
        name: 'RSI 10',
        type: 'line',
        color: '#45b6fe',
        xAxisIndex: 1,
        yAxisIndex: 1,
        showSymbol: false,
        data: {{d1_candle_data.rsi_10|safe}},
      },
      {
        name: 'Volume',
        type: 'bar',
        xAxisIndex: 2,
        yAxisIndex: 2,
        data: {{d1_candle_data.volumes|safe}},
      },
    ]
  };
  d1_candle_chart.setOption(d1_candle_option);

  // resize charts
  window.onresize = function() {
    d1_candle_chart.resize();
  };
</script>
{% endblock %}
