{% extends 'webull_trader/base.html' %}

{% block title %} Swing Trading Positions {% endblock %}

{% load static %}

{% block content %}

<div class="container-fluid p-0">
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <span class="badge {{account_type.value_style|safe}} text-dark">
        {{account_type.value|safe}}
      </span>
    </div>
    <div class="col-auto d-none d-sm-block">
      <h3>Swing Trading Positions</h3>
    </div>
  </div>
  <div class="card flex-fill">
    <div class="card-header">
      <h5 class="card-title mb-0">Positions</h5>
    </div>
    <div class="table-responsive">
      <table class="table table-striped my-0">
        <thead>
          <tr>
            <th>Symbol</th>
            <th class="text-end">Holding</th>
            <th class="text-end">Unit Cost</th>
            <th class="text-end">Price</th>
            <th class="text-end">Quantity</th>
            <th class="text-end">Units</th>
            <th class="text-end">Add Unit $</th>
            <th class="text-end">Stop Loss $</th>
            <th class="text-end">Cost</th>
            <th class="text-end">Value</th>
            <th class="text-end">Day P&L</th>
            <th class="text-end">Day P&L %</th>
            <th class="text-end">Unrealized P&L</th>
            <th class="text-end">Unrealized P&L %</th>
            <th class="text-end">Portfolio %</th>
          </tr>
        </thead>
        <tbody>
          {% for position in swing_positions %}
          <tr>
            <td><a href="/swing-positions/{{position.symbol|safe}}"><span class="badge badge-soft-dark">{{position.symbol|safe}}</span></a></td>
            <td class="text-end">{{position.holding_days|safe}}</td>
            <td class="text-end">{{position.unit_cost|safe}}</td>
            <td class="text-end">{{position.price|safe}}</td>
            <td class="text-end">{{position.quantity|safe}}</td>
            <td class="text-end">{{position.units|safe}}</td>
            <td class="text-end">{{position.add_unit_price|safe}}</td>
            <td class="text-end">{{position.stop_loss_price|safe}}</td>
            <td class="text-end">{{position.total_cost|safe}}</td>
            <td class="text-end">{{position.total_value|safe}}</td>
            <td class="text-end {{position.day_profit_loss_style|safe}}">{{position.day_profit_loss|safe}}</td>
            <td class="text-end {{position.day_profit_loss_style|safe}}">{{position.day_profit_loss_percent|safe}}</td>
            <td class="text-end {{position.profit_loss_style|safe}}">{{position.profit_loss|safe}}</td>
            <td class="text-end {{position.profit_loss_style|safe}}">{{position.profit_loss_percent|safe}}</td>
            <td class="text-end">{{position.portfolio_percent|safe}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
