{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Webull Trader" />
    <meta name="author" content="Yu Sun" />

    <title>Sign In | Webull Trader</title>

    <link rel="apple-touch-icon"
      sizes="144x144"
      href="{% static 'webull_trader/img/webull-logo.png' %}"
    />

    <link
      rel="shortcut icon"
      href="{% static 'webull_trader/img/webull-logo.png' %}"
    />

    <!-- Choose your prefered color scheme -->
    <!-- <link href="css/light.css" rel="stylesheet"> -->
    <!-- <link href="css/dark.css" rel="stylesheet"> -->

    <!-- BEGIN SETTINGS -->
    <link
      class="js-stylesheet"
      href="{% static 'webull_trader/css/light.css' %}"
      rel="stylesheet"
    />
    <!-- END SETTINGS -->
  </head>
  <!--
  HOW TO USE: 
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-behavior: sticky (default), fixed, compact
  -->

  <body
    data-theme="default"
    data-layout="fluid"
    data-sidebar-position="left"
    data-sidebar-behavior="sticky"
  >
    <div class="main d-flex justify-content-center w-100">
      <main class="content d-flex p-0">
        <div class="container d-flex flex-column">
          <div class="row h-100">
            <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
              <div class="d-table-cell align-middle">
                <div class="text-center mt-4">
                  <h1 class="h2">Welcome back</h1>
                  <p class="lead">Sign in to your account to continue</p>
                </div>

                <div class="card">
                  <div class="card-body">
                    <div class="m-sm-4">
                      <div class="text-center">
                        <img
                          src="{% static 'webull_trader/img/webull-logo.png' %}"
                          alt="Webull"
                          class="img-fluid rounded-circle"
                          width="132"
                          height="132"
                        />
                      </div>
                      <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label class="form-label" for="username-input"
                            >Username</label
                          >
                          <input
                            name="username"
                            type="text"
                            autocapitalize="none"
                            autocomplete="username"
                            required
                            class="form-control form-control-lg"
                            placeholder="Enter your email"
                            id="username-input"
                          />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="password-input"
                            >Password</label
                          >
                          <input
                            class="form-control form-control-lg"
                            type="password"
                            name="password"
                            autocomplete="current-password"
                            placeholder="Enter your password"
                            id="password-input"
                          />
                        </div>
                        {% if form.errors %}
                        <p class="text-danger">
                          Your username and password didn't match. Please try
                          again.
                        </p>
                        {% endif %}
                        <div class="text-center mt-3">
                          <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
