{% extends 'old_ross/base.html' %}

{% block title %} Analytics {% endblock %}

{% load static %}


{% block content %}

<div class="container-fluid p-0">
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <span class="badge {{account_type.value_style|safe}} text-dark">
        {{account_type.value|safe}}
      </span>
    </div>
    <div class="col-auto d-none d-sm-block">
      <h3>
        <a class="link-dark no-underline" href="{% url 'analytics' %}">Analytics</a> /
        <a class="link-dark no-underline" href="/analytics/{{date|safe}}">{{date|safe}}</a> / 
        {{symbol|safe}}
      </h3>
    </div>
  </div>

  <div class="card flex-fill">
    <div class="card-header">
      <h5 class="card-title mb-0">Trades</h5>
    </div>
    <table class="table table-striped my-0">
      <thead>
        <tr>
          <th>Symbol</th>
          <th class="d-none d-xl-table-cell">Buy Price</th>
          <th class="d-none d-xl-table-cell">Buy Time</th>
          <th class="d-none d-xl-table-cell">Entry</th>
          <th class="d-none d-xl-table-cell">Sell Price</th>
          <th class="d-none d-xl-table-cell">Sell Time</th>
          <th class="d-none d-xl-table-cell">Quantity</th>
          <th class="d-none d-xl-table-cell">Note</th>
          <th class="d-none d-xl-table-cell">P&L</th>
        </tr>
      </thead>
      <tbody>
        {% for trade in trade_records %}
        <tr>
          <td><span class="badge badge-soft-dark">{{trade.symbol|safe}}</span></td>
          <td class="d-none d-xl-table-cell">{{trade.buy_price|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.buy_time|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.entry|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.sell_price|safe}}</td>
          <td class="d-none d-md-table-cell">{{trade.sell_time|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.quantity|safe}}</td>
          <td class="d-none d-xl-table-cell">{{trade.notes|safe}}</td>
          <td class="d-none d-xl-table-cell {{trade.profit_loss_style|safe}}">{{trade.profit_loss|safe}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">1 Minute Chart</h5>
        </div>
        <div class="card-body d-flex w-100">
          <div class="align-self-center chart chart-md">
            <div id="m1-candle-chart" style="width: 100%; min-height: 400px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">2 Minute Chart</h5>
        </div>
        <div class="card-body d-flex w-100">
          <div class="align-self-center chart chart-md">
            <div id="m2-candle-chart" style="width: 100%; min-height: 400px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-12 d-flex">
      <div class="card flex-fill w-100">
        <div class="card-header">
          <h5 class="card-title mb-0">Last 60 Day Chart</h5>
        </div>
        <div class="card-body d-flex w-100">
          <div class="align-self-center chart chart-md">
            <div id="d1-candle-chart" style="width: 100%; min-height: 400px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card flex-fill">
    <div class="card-header">
      <h5 class="card-title mb-0">News</h5>
    </div>
    <table class="table table-striped my-0">
      <thead>
        <tr>
          <th class="d-none d-xl-table-cell">Title</th>
          <th class="d-none d-xl-table-cell">Summary</th>
          <th class="d-none d-xl-table-cell">Source Name</th>
          <th class="d-none d-xl-table-cell">Collect Source</th>
          <th class="d-none d-xl-table-cell">News Time</th>
          <th class="d-none d-xl-table-cell">News Url</th>
        </tr>
      </thead>
      <tbody>
        {% for news_record in news %}
        <tr>
          <td class="d-none d-xl-table-cell">{{news_record.title|safe}}</td>
          <td class="d-none d-xl-table-cell">{{news_record.summary|safe}}</td>
          <td class="d-none d-xl-table-cell">{{news_record.source_name|safe}}</td>
          <td class="d-none d-xl-table-cell">{{news_record.collect_source|safe}}</td>
          <td class="d-none d-md-table-cell">{{news_record.news_time|safe}}</td>
          <td class="d-none d-xl-table-cell"><a href="{{news_record.news_url|safe}}" target="_blank">Click</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
  // 1 minute candle chart
  const m1_candle_chart = echarts.init(document.getElementById("m1-candle-chart"));
  const m1_candle_option = {
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'cross'
      },
    },
    legend: {
      data: ['1 Minute Candle', 'VWAP', 'EMA 9', 'Volume']
    },
    axisPointer: {
      link: {xAxisIndex: 'all'},
      label: {
        backgroundColor: '#777'
      }
    },
    grid: [
      {
        left: '3%',
        right: '4%',
        height: '60%'
      },
      {
        left: '3%',
        right: '4%',
        top: '75%',
        height: '20%'
      }
    ],
    xAxis: [
      {
        type: 'category',
        data: {{m1_candle_data.times|safe}},
        scale: true,
        boundaryGap: true,
        axisLine: {onZero: false},
        splitLine: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax',
        axisPointer: {
          z: 100
        },
      },
      {
        type: 'category',
        gridIndex: 1,
        data: {{m1_candle_data.times|safe}},
        scale: true,
        boundaryGap: true,
        axisLine: {onZero: false},
        axisTick: {show: false},
        splitLine: {show: false},
        axisLabel: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax'
      },
    ],
    yAxis: [
      {
        scale: true,
        splitArea: {
          show: false
        },
        splitLine: {
          show: false
        },
      },
      {
        scale: true,
        gridIndex: 1,
        splitNumber: 2,
        axisLabel: {show: false},
        axisLine: {show: false},
        axisTick: {show: false},
        splitLine: {show: false}
      },
    ],
    dataZoom: [
      {
        type: 'inside',
        xAxisIndex: [0, 1],
        start: 10,
        end: 55
      },
    ],
    series: [
      {
        name: '1 Minute Candle',
        type: 'candlestick',
        data: {{m1_candle_data.candles|safe}},
        itemStyle: {
          color: "#4bbf73",
          color0: "#d9534f",
          borderColor: null,
          borderColor0: null,
        },
        markPoint: {
          label: {
            normal: {
              formatter: function (param) {
                return param.name;
              }
            }
          },
          data: {{ m1_trade_records|safe }},
          tooltip: {
            formatter: function (param) {
              return param.name + '<br>' + (param.data.coord || '');
            }
          }
        },
      },
      {
        name: 'VWAP',
        type: 'line',
        data: {{m1_candle_data.vwaps|safe}},
        smooth: true,
        showSymbol: false,
        color: '#f5a623',
        lineStyle: {
          //opacity: 0.5,
          width: 1,
        }
      },
      {
        name: 'EMA 9',
        type: 'line',
        data: {{m1_candle_data.ema9s|safe}},
        smooth: true,
        showSymbol: false,
        color: '#55aaff',
        lineStyle: {
          //opacity: 0.5,
          width: 1,
        }
      },
      {
        name: 'Volume',
        type: 'bar',
        xAxisIndex: 1,
        yAxisIndex: 1,
        data: {{m1_candle_data.volumes|safe}},
      },
    ]
  };
  m1_candle_chart.setOption(m1_candle_option);

  // 2 minute candle chart
  const m2_candle_chart = echarts.init(document.getElementById("m2-candle-chart"));
  const m2_candle_option = {
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'cross'
      },
    },
    legend: {
      data: ['2 Minute Candle', 'VWAP', 'EMA 9', 'Volume']
    },
    axisPointer: {
      link: {xAxisIndex: 'all'},
      label: {
        backgroundColor: '#777'
      }
    },
    grid: [
      {
        left: '3%',
        right: '4%',
        height: '60%'
      },
      {
        left: '3%',
        right: '4%',
        top: '75%',
        height: '20%'
      }
    ],
    xAxis: [
      {
        type: 'category',
        data: {{m2_candle_data.times|safe}},
        scale: true,
        boundaryGap: true,
        axisLine: {onZero: false},
        splitLine: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax',
        axisPointer: {
          z: 100
        },
      },
      {
        type: 'category',
        gridIndex: 1,
        data: {{m2_candle_data.times|safe}},
        scale: true,
        boundaryGap: true,
        axisLine: {onZero: false},
        axisTick: {show: false},
        splitLine: {show: false},
        axisLabel: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax'
      },
    ],
    yAxis: [
      {
        scale: true,
        splitArea: {
          show: false
        },
        splitLine: {
          show: false
        },
      },
      {
        scale: true,
        gridIndex: 1,
        splitNumber: 2,
        axisLabel: {show: false},
        axisLine: {show: false},
        axisTick: {show: false},
        splitLine: {show: false}
      },
    ],
    dataZoom: [
      {
        type: 'inside',
        xAxisIndex: [0, 1],
        start: 20,
        end: 75
      },
    ],
    series: [
      {
        name: '2 Minute Candle',
        type: 'candlestick',
        data: {{m2_candle_data.candles|safe}},
        itemStyle: {
          color: "#4bbf73",
          color0: "#d9534f",
          borderColor: null,
          borderColor0: null,
        },
        markPoint: {
          label: {
            normal: {
              formatter: function (param) {
                return param.name;
              }
            }
          },
          data: {{ m2_trade_records|safe }},
          tooltip: {
            formatter: function (param) {
              return param.name + '<br>' + (param.data.coord || '');
            }
          }
        },
      },
      {
        name: 'VWAP',
        type: 'line',
        data: {{m2_candle_data.vwaps|safe}},
        smooth: true,
        showSymbol: false,
        color: '#f5a623',
        lineStyle: {
          //opacity: 0.5,
          width: 1,
        }
      },
      {
        name: 'EMA 9',
        type: 'line',
        data: {{m2_candle_data.ema9s|safe}},
        smooth: true,
        showSymbol: false,
        color: '#55aaff',
        lineStyle: {
          //opacity: 0.5,
          width: 1,
        }
      },
      {
        name: 'Volume',
        type: 'bar',
        xAxisIndex: 1,
        yAxisIndex: 1,
        data: {{m2_candle_data.volumes|safe}},
      },
    ]
  };
  m2_candle_chart.setOption(m2_candle_option);

  // daily candle chart
  const d1_candle_chart = echarts.init(document.getElementById("d1-candle-chart"));
  const d1_candle_option = {
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'cross'
      },
    },
    legend: {
      data: ['Daily Candle', 'Volume']
    },
    axisPointer: {
      link: {xAxisIndex: 'all'},
      label: {
        backgroundColor: '#777'
      }
    },
    grid: [
      {
        left: '3%',
        right: '4%',
        height: '60%'
      },
      {
        left: '3%',
        right: '4%',
        top: '75%',
        height: '20%'
      }
    ],
    xAxis: [
      {
        type: 'category',
        data: {{d1_candle_data.times|safe}},
        scale: true,
        boundaryGap: true,
        axisLine: {onZero: false},
        splitLine: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax',
        axisPointer: {
          z: 100
        },
      },
      {
        type: 'category',
        gridIndex: 1,
        data: {{d1_candle_data.times|safe}},
        scale: true,
        boundaryGap: true,
        axisLine: {onZero: false},
        axisTick: {show: false},
        splitLine: {show: false},
        axisLabel: {show: false},
        splitNumber: 20,
        min: 'dataMin',
        max: 'dataMax'
      },
    ],
    yAxis: [
      {
        scale: true,
        splitArea: {
          show: false
        },
        splitLine: {
          show: false
        },
      },
      {
        scale: true,
        gridIndex: 1,
        splitNumber: 2,
        axisLabel: {show: false},
        axisLine: {show: false},
        axisTick: {show: false},
        splitLine: {show: false}
      },
    ],
    dataZoom: [
      {
        type: 'inside',
        xAxisIndex: [0, 1],
        start: 0,
        end: 100
      },
    ],
    series: [
      {
        name: 'Daily Candle',
        type: 'candlestick',
        data: {{d1_candle_data.candles|safe}},
        itemStyle: {
          color: "#4bbf73",
          color0: "#d9534f",
          borderColor: null,
          borderColor0: null,
        },
      },
      {
        name: 'Volume',
        type: 'bar',
        xAxisIndex: 1,
        yAxisIndex: 1,
        data: {{d1_candle_data.volumes|safe}},
      },
    ]
  };
  d1_candle_chart.setOption(d1_candle_option);

  // resize charts
  window.onresize = function() {
    m1_candle_chart.resize();
    m2_candle_chart.resize();
    d1_candle_chart.resize();
  };
</script>
{% endblock %}
