{% extends 'old_ross/base.html' %}

{% block title %} Analytics {% endblock %}

{% load static %}


{% block content %}

<div class="container-fluid p-0">
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <span class="badge {{account_type.value_style|safe}} text-dark">
        {{account_type.value|safe}}
      </span>
    </div>
    <div class="col-auto d-none d-sm-block">
      <h3><a class="link-dark no-underline" href="{% url 'analytics' %}">Analytics</a> / {{date|safe}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 {{day_profit_loss.value_style}}">
                {{day_profit_loss.value|safe}}
              </h3>
              <p class="mb-2">P&L</p>
              <div class="mb-0">
                <span
                  class="badge {{day_profit_loss.day_pl_rate_style|safe}} me-2"
                >
                  <i class="mdi mdi-arrow-bottom-right"></i>
                  {{day_profit_loss.day_pl_rate|safe}}
                </span>
              </div>
            </div>
            <div class="d-inline-block ms-3">
              <div class="stat">
                <i class="align-middle" data-feather="activity"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">
                {{trades_count|safe}}
              </h3>
              <p class="mb-2">Total Trades</p>
            </div>
            <div class="d-inline-block ms-3">
              <div class="stat">
                <i class="align-middle" data-feather="hash"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 text-success">
                {{day_top_gain.value|safe}}
              </h3>
              <p class="mb-2">Top Gain</p>
              <div class="mb-0">
                <a href="/">
                  <span
                    class="badge badge-soft-dark me-2"
                  >
                    <i class="mdi mdi-arrow-bottom-right"></i>
                    {{day_top_gain.symbol|safe}}
                  </span>
                </a>
              </div>
            </div>
            <div class="d-inline-block ms-3">
              <div class="stat">
                <i class="align-middle" data-feather="plus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 text-danger">
                {{day_top_loss.value|safe}}
              </h3>
              <p class="mb-2">Top Loss</p>
              <div class="mb-0">
                <a href="/">
                  <span
                    class="badge badge-soft-dark me-2"
                  >
                    <i class="mdi mdi-arrow-bottom-right"></i>
                    {{day_top_loss.symbol|safe}}
                  </span>
                </a>
              </div>
            </div>
            <div class="d-inline-block ms-3">
              <div class="stat">
                <i class="align-middle" data-feather="minus"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 text-dark">{{win_rate|safe}}</h3>
              <p class="mb-2">Win Rate</p>
            </div>
            <div class="d-inline-block ms-3">
              <div class="stat">
                <i class="align-middle" data-feather="star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 text-dark">{{profit_loss_ratio|safe}}</h3>
              <p class="mb-2">Profit/Loss Ratio</p>
            </div>
            <div class="d-inline-block ms-3">
              <div class="stat">
                <i class="align-middle" data-feather="flag"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card flex-fill">
		<div class="card-header">
      <h5 class="card-title mb-0">Trades</h5>
		</div>
    <table class="table table-striped my-0">
			<thead>
        <tr>
					<th>Symbol</th>
					<th class="d-none d-xl-table-cell">P&L</th>
					<th class="d-none d-xl-table-cell">Avg Price</th>
					<th class="d-none d-xl-table-cell">Gap</th>
					<th class="d-none d-xl-table-cell">News</th>
					<th class="d-none d-xl-table-cell">Float</th>
					<th class="d-none d-xl-table-cell">Short Ratio</th>
					<th class="d-none d-xl-table-cell">Relative Volume</th>
					<th class="d-none d-xl-table-cell">Trades</th>
					<th class="d-none d-xl-table-cell">Win Rate</th>
					<th class="d-none d-md-table-cell">Profit/Loss Ratio</th>
				</tr>
			</thead>
      <tbody>
        {% for trade in trade_records %}
        <tr>
					<td><a href="/"><span class="badge badge-soft-dark">{{trade.symbol|safe}}</span></a></td>
					<td class="d-none d-xl-table-cell {{trade.profit_loss_style|safe}}">{{trade.profit_loss|safe}}</td>
					<td class="d-none d-xl-table-cell">{{trade.avg_price|safe}}</td>
					<td class="d-none d-xl-table-cell">{{trade.gap|safe}}</td>
					<td class="d-none d-xl-table-cell">{{trade.news|safe}}</td>
					<td class="d-none d-md-table-cell">{{trade.float_shares|safe}}</td>
					<td class="d-none d-md-table-cell">{{trade.short_float|safe}}</td>
					<td class="d-none d-md-table-cell">{{trade.relative_volume|safe}}</td>
					<td class="d-none d-md-table-cell">{{trade.trades|safe}}</td>
					<td class="d-none d-md-table-cell">{{trade.win_rate|safe}}</td>
					<td class="d-none d-md-table-cell">{{trade.profit_loss_ratio|safe}}</td>
				</tr>
        {% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block js %}
<script>
  
</script>
{% endblock %}
