{% extends 'old_ross/base.html' %}

{% block title %} Dashboard {% endblock %} 

{% load static %}

{% block content %}

<div class="container-fluid p-0">
  <div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
      <h3>Dashboard ({{account_type}})</h3>
    </div>

  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2">{{net_account_value.value}}</h3>
              <p class="mb-2">Net Account Value</p>
							<div class="mb-0">
							  <span class="badge {{net_account_value.total_pl_style}} me-2"> <i class="mdi mdi-arrow-bottom-right"></i> {{net_account_value.total_pl}} </span>
							  <span class="badge {{net_account_value.total_pl_rate_style}} me-2"> <i class="mdi mdi-arrow-bottom-right"></i> {{net_account_value.total_pl_rate}} </span>
							</div>
						</div>
						<div class="d-inline-block ms-3">
							<div class="stat">
								<i class="align-middle" data-feather="layers"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 {{day_profit_loss.value_style}}">{{day_profit_loss.value}}</h3>
              <p class="mb-2">Day's P&L</p>
							<div class="mb-0">
							  <span class="badge {{day_profit_loss.day_pl_rate_style}} me-2"> <i class="mdi mdi-arrow-bottom-right"></i> {{day_profit_loss.day_pl_rate}} </span>
							</div>
						</div>
						<div class="d-inline-block ms-3">
							<div class="stat">
								<i class="align-middle" data-feather="trending-up"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 text-danger">41.3%</h3>
              <p class="mb-2">Day's Win Ratio</p>
							<div class="mb-0">
                <span class="text-muted">PRE</span>
							  <span class="badge badge-soft-danger me-2"> <i class="mdi mdi-arrow-bottom-right"></i> 41.3% </span>
                <span class="text-muted">MID</span>
							  <span class="badge badge-soft-danger me-2"> <i class="mdi mdi-arrow-bottom-right"></i> 41.3% </span>
                <span class="text-muted">POST</span>
							  <span class="badge badge-soft-danger me-2"> <i class="mdi mdi-arrow-bottom-right"></i> 41.3% </span>
							</div>
						</div>
						<div class="d-inline-block ms-3">
							<div class="stat">
								<i class="align-middle" data-feather="check-circle"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="col-12 col-sm-6 col-xxl d-flex">
      <div class="card flex-fill">
        <div class="card-body py-4">
          <div class="d-flex align-items-start">
            <div class="flex-grow-1">
              <h3 class="mb-2 text-success">3.2</h3>
              <p class="mb-2">Day's P&L Ratio</p>
							<div class="mb-0">
                <span class="text-muted">PRE</span>
							  <span class="badge badge-soft-success me-2"> <i class="mdi mdi-arrow-bottom-right"></i> 2.1 </span>
                <span class="text-muted">MID</span>
							  <span class="badge badge-soft-success me-2"> <i class="mdi mdi-arrow-bottom-right"></i> 2.1 </span>
                <span class="text-muted">POST</span>
							  <span class="badge badge-soft-success me-2"> <i class="mdi mdi-arrow-bottom-right"></i> 2.1 </span>
							</div>
						</div>
						<div class="d-inline-block ms-3">
							<div class="stat">
								<i class="align-middle" data-feather="star"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  
</script>
{% endblock %}
